<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Object Configuration -->
    <bean id="engine1" class="test.PetrolEngine"></bean>
    <bean id="engine2" class="test.DieselEngine"></bean>

    <bean id="car1" class="test.PetrolCar">
        <constructor-arg ref="engine1"></constructor-arg>
    </bean>

    <bean id="car2" class="test.DieselCar">
        <constructor-arg ref="engine2"></constructor-arg>
    </bean>

    <!-- OBJECT CONFIGURATION FOR MOBILE AND SIMCARD-->

    <bean id="sim1" class="domain.Airtel"></bean>
    <bean id="sim2" class="domain.Jio"></bean>

    <bean id="mobile1" class="domain.SmartPhone">
        <property name="card" ref="sim1"></property>
    </bean>
    <bean id="mobile2" class="domain.FeaturePhone">
        <property name="card" ref="sim2"></property>
    </bean>

    <!-- Object configuration for laptop-->
    <bean id="laptop1" class="LaptopDependencyEx.Acer">
        <constructor-arg ref="laptop3"></constructor-arg>
        <constructor-arg ref="laptop4"></constructor-arg>
    </bean>
    <bean id="laptop2" class="LaptopDependencyEx.HP">
        <property name="r1" ref="laptop3"></property>
        <property name="gc" ref="laptop4"></property>
    </bean>
    <bean id="laptop3" class="LaptopDependencyEx.Ram"></bean>
    <bean id="laptop4" class="LaptopDependencyEx.GraphicsCard"></bean>

    <!-- ATM AND PRINTER CONFIGURATION-->
    <bean id="printer" class="master.Printer"></bean>
    <bean id="atm" class="master.ATM">
        <property name="print" ref="printer"></property>
    </bean>


</beans>